body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

h1 {
    color: #38bdf8;
}

#stats {
    margin: 20px;
    padding: 10px;
    border: 1px solid #38bdf8;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

#log {
    margin: 20px auto;
    width: 60%;
    height: 250px;
    overflow-y: auto;
    border-top: 1px solid white;
    padding-top: 10px;
    text-align: left;
}
